.tasa-div {
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    margin: 0 10px 0 10px;

    .title-tasa {
        color: #2c2c2c;
    }

    .p-tasa-value {
        font-size: 26px;
        margin-top: 10px;
        font-weight: bold;
    }
}